@model FIWAREHub.Models.WebModels.ViewModels.ProbabilitiesResultsViewModel

@{
    Layout = "_PlainLayout";
}

<div class="container" id="container">

    <canvas id="myChart"></canvas>

    <a class="btn btn-outline-primary" asp-action="Probabilities" asp-controller="Graphs">
        Return
    </a>

</div>


@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <style scoped>
        body {
            width: 100vw;
            height: 100vh;
            margin: 0;
        }

        #container {
            width: 90%;
            height: 90%;
        }
    </style>
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: @Json.Serialize(Model.Labels),
                datasets: [{
                    label: '% Percent',
                    data: @Json.Serialize(Model.Percentages),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(159, 192, 174, 0.2)',
                        'rgba(246, 233, 136, 0.2)',
                        'rgba(117, 26, 138, 0.2)',
                        'rgba(130, 218, 153, 0.2)',
                        'rgba(226, 171, 116, 0.2)',
                        'rgba(102, 131, 194, 0.2)',
                        'rgba(165, 65, 17, 0.2)',
                        'rgba(183, 73, 52, 0.2)',
                        'rgba(29, 5, 70, 0.2)'

                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(159, 192, 174, 1)',
                        'rgba(246, 233, 136, 1)',
                        'rgba(117, 26, 138, 1)',
                        'rgba(130, 218, 153, 1)',
                        'rgba(226, 171, 116, 1)',
                        'rgba(102, 131, 194, 1)',
                        'rgba(165, 65, 17, 1)',
                        'rgba(183, 73, 52, 1)',
                        'rgba(29, 5, 70, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        function random_rgba() {
            var o = Math.round, r = Math.random, s = 255;
            return 'rgba(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',' + r().toFixed(1) + ')';
        }
    </script>

}