<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="FiwareHub" connectionString="XpoProvider=MSSqlServer;data source=192.168.10.254;user id=sa;password=epu_ntua_2020;initial catalog=FiwareHub;Persist Security Info=true" />
    </connectionStrings>
</configuration>